<div class="row jumbotron">
  <h1 class="container">Eric Tillberg</h1>
</div>

<div class="container">
  <div class="row">
    <p>
      I'm a Brooklyn-based web developer and tutor. When I'm not pursuing my twin passions of technology and education, I enjoy playing music, board games (especially <%= link_to 'Go', 'https://en.wikipedia.org/wiki/Go_(game)', class: 'link' %> and <%= link_to 'Diplomacy', 'https://en.wikipedia.org/wiki/Diplomacy_(game)', class: 'link' %>), and reading history books.
    </p>
    <p>
      My email address is <%= link_to 'eric.tillberg@gmail.com', 'mailto:eric.tillberg@gmail.com' %>.
    </p>
  </div>

  <br />

  <div class="row">
    <div class="col-lg-4 col-lg-offset-2 col-md-4 col-md-offset-2 text-center">
      <p class="well"><%= link_to 'Web Development', '/web_development.html', class: 'link' %></p>
    </div>
    <div class="col-lg-4 col-md-4 text-center">
      <p class="well"><%= link_to 'Tutoring', '/tutoring.html', class: 'link' %></p>
    </div>
    <div class="col-lg-2 col-md-2">
    </div>
  </div>

  <div class="row">
    <div class="stripe"></div>
  </div>
</div>
